name: Deploy Zola to GH Pages
on: push
jobs:
  test:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@master
      with:
        submodules: true
    - uses: zolacti/on@main
      env:
        PAGES_BRANCH: gh-pages
        BUILD_FLAGS: --drafts
        TOKEN: ${{ secrets.TOKEN }}
        
